h1{
    margin: auto;
    margin-top: 0.3cm;
    text-align: center;
}
agm-map {
    height: 100vh;
  }

  body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  .size{
    width: 64px;
	height: 64px;
	overflow: hidden;
	text-align: center;
  }

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  
}