<nav class="navbar navbar-dark fixed-top" style="background-color: #fd9013;">
  <div sidebarjsOpen>
    <button class="navbar-toggler navbar-toggler-left " type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <a class="navbar-brand" style="color:black; font-size: 22px; font-weight: bold;" href="index/main">{{brand}}</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  </div>
</nav>

<sidebar-js>
  <div class="sidebar">
    <div class="userlogo">
      <a href="index/main/account">
        <img src='../../assets/user-icon.png' width="100px">
      </a>
      <br>{{name}}
      <br>
    </div>
    
    <hr>
    <ul class="menu">
      <li>
        <a href="index/main">Home</a>
      </li>
      <li>
        <a href="#">Travel</a>
      </li>
      <li>
        <a href="#">Notifications</a>
      </li>
      <li>
        <a href="#">History</a>
      </li>
      <li>
        <a href="#">Help</a>
      </li>
    </ul>
  </div>
</sidebar-js>
