<form>
  <nav class="navbar navbar-dark fixed-top" style="background-color: #fd9013; text-align: center; font-weight: bold; font-size: 20px;">PAIGUNNA</nav>
  <div class="myimg" style="margin-top: 2cm">
    <img src="https://s.financesonline.com/uploads/2015/02/Project-Management-6-150x150.jpg" alt="Avatar">
  </div>
  <div class="container">
    <li style="list-style-type: none">
      <a routerLink="/index/main">
        <button type="submit">Login with Facebook</button>
      </a>
    </li>
    <li style="list-style-type: none">
      <a routerLink="/index/main">
        <button type="submit" class="cancelbtn">Login with Google</button>
      </a>
    </li>
  </div>
</form>