
<div class="title">
    
  Account
  </div>
      
  <div class="detail">
          
  <img src='../../assets/user-icon.png' width="80px">
          
  <br><br>
          
  <p>Firstname :</p>
          
  <br>
          
  <p>Lastname :</p>
          
  <br>
          
  <p>Telephone number :</p>
          
  <br>
          
  <p>E-mail :</p>
              
  <div class="container">
      
                  
  <li style="list-style-type: none"><a routerLink="/index/"><button type="submit">Sign out with Facebook</button></a></li>
                  
  <br>
                  
  <li style="list-style-type: none"><a routerLink="/index/"><button type="submit" class="cancelbtn">Sign out with Google</button></a></li>
                  
  <br>
                  
  <a href="">Setting</a>
                  
  <br><br>
                  
  <a href="index/main">Exit</a>
  
                  
  <mat-checkbox>Check me!</mat-checkbox>
  
              
  </div>
      
  </div>
